body {
    height: 98vh;
    border: 1px dashed black;
    background-image: url(https://rihappy.vtexassets.com/arquivos/ids/4762723-800-auto?v=637993652075270000&width=800&height=auto&aspect=true);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: left bottom;
}