body {
    height: 100vh;
    /* Shortband - background
        color > image > position > repeat > [size] > attachment


    */
    background: black url(imagens/wallpaper002.jpg) center center no-repeat fixed;
    background-size: cover;
}

main {
    background-color: white;
    max-width: 400px;
    padding: 20px;
    margin: auto;
    border: 3px solid lightcoral;
    border-radius: 15px;
}